@charset "UTF-8";
/* Color Theme Swatches in Hex */
/* Color Theme Swatches in RGBA */
/* Color Theme Swatches in HSLA */
/*Шрифты разной толщины*/
/*Отступы*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

::selection {
  background-color: #5CD4E1;
  color: white;
}

body {
  background-color: #253336;
}
body header .logo {
  position: absolute;
}
body header .logo .logo__logotype {
  -ms-user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  position: absolute;
  width: 200px;
  height: 200px;
  top: -70px;
  left: -20px;
}
body header .logo .logo__figures {
  position: absolute;
  left: 504px;
}
body main .main__wrapper {
  background-color: #fff;
  color: black;
  position: relative;
  top: 700px;
}
body main .main__wrapper .main__block .main__title h1 {
  font-size: 40px;
  font-weigth: 900;
  text-align: center;
  margin: 50px;
  padding: 20px;
}
body main .main__wrapper .main__text {
  position: absolute;
  z-index: 2;
}
body main .main__wrapper .main__text .main__subtitle h2 {
  font-size: 36px;
  font-weigth: 700;
  margin: 0px 100px 0px 100px;
}
body main .main__wrapper .main__text .main__story {
  width: 1100px;
}
body main .main__wrapper .main__text .main__story p {
  font-size: 24px;
  font-weigth: 600;
  margin: 30px 100px;
}
body main .main__figures .main__figures_pattern {
  position: absolute;
  left: 1135px;
  top: 150px;
}
body main .main__figures_two .main__figures_circle .circle {
  position: relative;
  top: -100px;
  z-index: 1;
}