/* Color Theme Swatches in Hex */
$Portfolio-Site-1-hex: #5B7B82
$Portfolio-Site-2-hex: #253336
$Portfolio-Site-3-hex: #20464F
$Portfolio-Site-4-hex: #347482
$Portfolio-Site-5-hex: #91C3CF

/* Color Theme Swatches in RGBA */
$Portfolio-Site-1-rgba: rgba(91,123,130, 1)
$Portfolio-Site-2-rgba: rgba(37,51,54, 1)
$Portfolio-Site-3-rgba: rgba(32,70,79, 1)
$Portfolio-Site-4-rgba: rgba(52,116,130, 1)
$Portfolio-Site-5-rgba: rgba(145,195,207, 1)

/* Color Theme Swatches in HSLA */
$Portfolio-Site-1-hsla: hsla(190, 17, 43, 1)
$Portfolio-Site-2-hsla: hsla(190, 18, 17, 1)
$Portfolio-Site-3-hsla: hsla(191, 42, 21, 1)
$Portfolio-Site-4-hsla: hsla(190, 42, 35, 1)
$Portfolio-Site-5-hsla: hsla(191, 39, 69, 1)

/* Color Theme Swatches in Hex */
$VK-Group-Theme-1-hex: #A8E6ED
$VK-Group-Theme-2-hex: #5CD4E1
$VK-Group-Theme-3-hex: #61DFED
$VK-Group-Theme-4-hex: #B5F8FF
$VK-Group-Theme-5-hex: #9CD5DB

/* Color Theme Swatches in RGBA */
$VK-Group-Theme-1-rgba: rgba(168,230,237, 1)
$VK-Group-Theme-2-rgba: rgba(92,212,225, 1)
$VK-Group-Theme-3-rgba: rgba(97,223,237, 1)
$VK-Group-Theme-4-rgba: rgba(181,248,255, 1)
$VK-Group-Theme-5-rgba: rgba(156,213,219, 1)

/* Color Theme Swatches in HSLA */
$VK-Group-Theme-1-hsla: hsla(186, 65, 79, 1)
$VK-Group-Theme-2-hsla: hsla(185, 68, 62, 1)
$VK-Group-Theme-3-hsla: hsla(186, 79, 65, 1)
$VK-Group-Theme-4-hsla: hsla(185, 100, 85, 1)
$VK-Group-Theme-5-hsla: hsla(185, 46, 73, 1)


* 
    margin: 0
    padding: 0
    box-sizing: border-box
    font-family: 'Poppins', sans-serif

body
    background-color: $Portfolio-Site-2-hex
    header 
        .logo 
            position: absolute
            .logo__logotype
                position: absolute
                width: 250px
                height: 250px
                top: -20px
                left: -20px
            .logo__figures
                position: absolute
                left: 504px
    main 
        .main__wrapper
            background-color: #fff
            color: black
            position: relative
            top: 700px
            padding: 30px

            // .main__block,
            // .main__text 
            //     position: absolute
            //     padding: 10px
            //     margin: 20px
            // .main__text_white,
            // .main__block_white
            //     background-color: white
            //     color: black

