/* Color Theme Swatches in Hex */
$Portfolio-Site-1-hex: #5B7B82
$Portfolio-Site-2-hex: #253336
$Portfolio-Site-3-hex: #20464F
$Portfolio-Site-4-hex: #347482
$Portfolio-Site-5-hex: #91C3CF
$VK-Group-Theme-1-hex: #A8E6ED
$VK-Group-Theme-2-hex: #5CD4E1
$VK-Group-Theme-3-hex: #61DFED
$VK-Group-Theme-4-hex: #B5F8FF
$VK-Group-Theme-5-hex: #9CD5DB

/* Color Theme Swatches in RGBA */
$Portfolio-Site-1-rgba: rgba(91,123,130, 1)
$Portfolio-Site-2-rgba: rgba(37,51,54, 1)
$Portfolio-Site-3-rgba: rgba(32,70,79, 1)
$Portfolio-Site-4-rgba: rgba(52,116,130, 1)
$Portfolio-Site-5-rgba: rgba(145,195,207, 1)
$VK-Group-Theme-1-rgba: rgba(168,230,237, 1)
$VK-Group-Theme-2-rgba: rgba(92,212,225, 1)
$VK-Group-Theme-3-rgba: rgba(97,223,237, 1)
$VK-Group-Theme-4-rgba: rgba(181,248,255, 1)
$VK-Group-Theme-5-rgba: rgba(156,213,219, 1)

/* Color Theme Swatches in HSLA */
$Portfolio-Site-1-hsla: hsla(190, 17, 43, 1)
$Portfolio-Site-2-hsla: hsla(190, 18, 17, 1)
$Portfolio-Site-3-hsla: hsla(191, 42, 21, 1)
$Portfolio-Site-4-hsla: hsla(190, 42, 35, 1)
$Portfolio-Site-5-hsla: hsla(191, 39, 69, 1)
$VK-Group-Theme-1-hsla: hsla(186, 65, 79, 1)
$VK-Group-Theme-2-hsla: hsla(185, 68, 62, 1)
$VK-Group-Theme-3-hsla: hsla(186, 79, 65, 1)
$VK-Group-Theme-4-hsla: hsla(185, 100, 85, 1)
$VK-Group-Theme-5-hsla: hsla(185, 46, 73, 1)

/*Шрифты разной толщины*/
$Thin: 100
$ThinItalic: 100 cursive
$ExtraLight: 200
$ExtraLightItalic: 200 cursive
$Light: 300
$LightItalic: 300 cursive
$Regular: 400
$RegularItalic: 400 cursive
$Medium: 500 
$MediumItalic: 500 cursive
$Semi-bold: 600
$Semi-boldItalic: 600 cursive
$Bold: 700
$BoldItalic: 700 cursive
$ExtraBold: 800
$ExtraBoldItalic: 800 cursive
$Black: 900
$BlackItalic: 900 cursive

/*Отступы*/
$titleM: 50px
$titleP: 20px
$defM: 25px
$defP: 25px
$textM: 100px
$textP: 30px

/////////////////////////////////////////////////////////////////////////////////////
* 
    margin: 0
    padding: 0
    box-sizing: border-box
    font-family: 'Poppins', sans-serif

::selection
    background-color: $VK-Group-Theme-2-hex
    color: white

body
    background-color: $Portfolio-Site-2-hex
    header 
        .logo 
            position: absolute
            .logo__logotype
                -ms-user-select: none
                -moz-user-select: none
                -khtml-user-select: none
                -webkit-user-select: none
                user-select: none
                position: absolute
                width: 200px
                height: 200px
                top: -70px
                left: -20px
            .logo__figures
                position: absolute
                left: 504px
    main 
        .main__wrapper
            background-color: #fff
            color: black
            position: relative
            top: 700px
            .main__block
                .main__title
                    h1
                        font-size: 40px
                        font-weigth: $Black
                        text-align: center
                        margin: $titleM
                        padding: $titleP
            .main__text
                position: absolute
                z-index: 2
                .main__subtitle 
                    h2
                        font-size: 36px
                        font-weigth: $Bold
                        margin: 0px $textM 0px $textM
                .main__story
                    width: 1100px
                    p
                        font-size: 24px
                        font-weigth: $Semi-bold
                        // padding: $textP
                        margin: 30px $textM


            
        .main__figures 
            .main__figures_pattern
                position: absolute
                left: 1135px
                top: 150px
        .main__figures_two
            .main__figures_circle
                .circle
                    position: relative
                    top: -100px
                    z-index: 1




